*.asm
.vscode
output
__pycache__
*.7z
tmp
install
.cache
.meproject
build*
.clangd
compile_commands.json
settings.json
# The following files are generated during
# project configuration based on the setup,
# do not track them
flatten_me.h
eth_driver.h
